



 <div class="row">
<div class ="col-md-8">
<div class="jarviswidget" id="wid-id-6" data-widget-editbutton="false" data-widget-custombutton="false">
	

				<!-- widget div-->
				<div>
					
				
					<!-- end widget edit box -->
					
					<!-- widget content -->
					<div class="widget-body no-padding">
						
						<form  method="post" id="formCrearIncidente" name ="formCrearIncidente" class="smart-form">
							<header>
								<h2 class="row-seperator-header"><i class="fa fa-edit"></i>Nuevo Incidente </h2>
							</header>
 <div class="alert alert-block alert-danger" ng-show="!paginaValida">
          <a class="close" data-dismiss="alert" href="#">×</a>
          <h4 class="alert-heading"><i class="fa fa-check-square-o"></i>Errores!</h4>
          <p>
            Se han encontrado errores o falta de información, por favor verifique
          </p>
        </div>
							<fieldset>
						                        <div class="row">
   
                            <section class="col col-8">
										<label class="label"  ng-class="{ 'has-error' :!paginaValida && formCrearIncidente.asunto.$error.required}" >Titulo</label>
										<label class="input">
											<input type="text" name="nombre" ng-model="incidente.nombre" required>
										</label>
										 <p ng-show="!paginaValida && formCrearIncidente.nombre.$invalid" class="help-block">Debe ingresar el "Título del incidente"</p>
									</section>
    
    
 
</div>
<div class="row">
   
    <section class="col col-6">
										<label class="label" ng-class="{ 'has-error' :!paginaValida && formCrearIncidente.tiposistema.$error.required}">Sistema</label>
									<label class="select">
										 <select class="input-sm" ng-model="incidente.idTipoIncidente"   ng-change="cargaModulo()"    required   name="tiposistema"  ng-options="item.TipoIncidenteId as item.Nombre  for item in listas.sistema">
                                              <option value="">-- Seleccione Sistema --</option>
                                           </select>
                     
                              </label>
    <p ng-show="!paginaValida  && formCrearIncidente.tiposistema.$error.required" class="help-block">Debe indicar el "Sistema"</p>
    </section>
 
  <section class="col col-6">
										<label class="label" ng-class="{ 'has-error' :!paginaValida && formCrearIncidente.modulo.$error.required}">Modulo</label>
									<label class="select">
										 <select class="input-sm" ng-model="incidente.idSubTipoIncidente" name="modulo"  ng-options="item.SubTipoIncidenteId as item.Nombre  for item in listas.modulo" required>
                                              <option value="">-- Seleccione Modulo --</option>
                                           </select>
                              
                              </label>
<p ng-show="!paginaValida && formCrearIncidente.modulo.$error.required" class="help-block">Debe ingresar el "Módulo del Sistema"</p>
	</section>
    
    
</div>
								<section>
									<label class="label" ng-class="{ 'has-error' :!paginaValida && formCrearIncidente.descripcion.$error.required}">Descripcion</label>
									<label class="textarea"> <i class="icon-append fa fa-comment"></i> 										<textarea ng-model="incidente.descripcion"  rows="4" name="descripcion" required></textarea> </label>
								<p ng-show="!paginaValida && formCrearIncidente.descripcion.$error.required" class="help-block">Debe ingresar la "Descripción del Problema"</p>
								</section>
								
						
<section>
          <div class="panel panel-default">

       <div class="panel panel-default">
           <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span>Adjuntos</strong></div>
           <div class="panel-body">
               <div class="form-group">



                   <div class="col-sm-2">
                       <input type="file" title="Choose File" name="archivo" ng-file-select="onFileSelect($files)"    data-ui-file-upload class="btn btn-primary">
                            </div>
               </div>
           </div>



           <div class="table-responsive">
               <table class="table table-striped table-bordered">
                   <thead>
                   <tr>
                       <th>Nombre Adjunto</th>
                       <th>Fecha</th>
                       <th>Opciones</th>

                   </tr>
                   </thead>
                   <tbody>
                   <tr ng-repeat="archivo in Adjuntos">
                       <td><a href="api/adjunto/obtenerarchivo/{{archivo.AdjuntoId}}">{{archivo.Nombre}}</a></td>
                       <td>{{archivo.FechaCreacion}}</td>
                       <td> <a ng-click="EliminarArchivo(archivo.AdjuntoId,archivo.Guid)"><span  class="glyphicon glyphicon-trash"></span></a></td>
                   </tr>

                   </tbody>
               </table>
           </div>

       </div>
</div>

</section>
								    
    
							</fieldset>

							<footer>
								<button type="button"   class="btn  btn-success"  ng-click="GrabarIncidente()" >Enviar</button>
							</footer>

							<div class="message">
								<i class="fa fa-check fa-lg"></i>
								<p>
									Your comment was successfully added!
								</p>
							</div>
						</form>
						
					</div>
					<!-- end widget content -->
					
				</div>
				<!-- end widget div -->
				
			</div>
			<!-- end widget -->
</div>
</div>







       


  


   

