
<div class="row">
  <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
    <h1 class="page-title txt-color-blueDark">

      <!-- PAGE HEADER -->
      <i class="fa-fw fa fa-pencil-square-o"></i>
      Incidentes
			<span>

			</span>
    </h1>
  </div>
</div>
<section class="panel panel-default">
    <div class="panel-heading"><strong><span class="glyphicon glyphicon-asterisk"></span> Mis Incidentes</strong></div>
    <div class="panel-body"  >


        <table class="table table-bordered">
            <thead>
            <tr >

                <th width="16%">Número</th>
              <th width="16%">Nombre</th>

              <th width="15%">Fecha Ingreso</th>
              <th width="15%">Sistema</th>
              <th width="15%">Módulo</th>
              <th width="15%">Usuario KU</th>

              <th width="18%">Acciones</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat='order in data'>
                <td>{{order.IncidenteId}}</td>
                 <td>{{order.Asunto}}</td>
                <td>{{order.FechaCreacion | date:'MM/dd/yyyy h:mma'}}</td>

              <td>{{order.NombreTipo}}</td>
              <td>{{order.SubNombreTipo}}</td>

              <td>{{order.usuarionombre}}</td>

              <td>

                 <!-- estado  != 10 or != 99 puede ver && esKU -->
                <a class="btn btn-primary" ng-show="EsConsultor()"  href="/#/incidente/fichalectura/{{order.IncidenteId}}"><i class="glyphicon glyphicon-eye-open"></i></a>{{order.estado}}
                <!--  estado  != 10 && != 99 && !esKu -->
                <a class="btn btn-primary" ng-show="(order.Estado != 10 && order.Estado != 99  && order.Estado != 60  && order.Estado != 30) && EsConsultor()"  href="/#/incidente/editarconsultor/{{order.IncidenteId}}"><i class="glyphicon glyphicon-edit"></i></a>

              </td>
            </tr>

            </tbody>
        </table>
    </div>
</section>


<section class="panel panel-default">
  <div class="panel-heading"><strong><span class="glyphicon glyphicon-asterisk"></span> Incidentes sin asignar</strong></div>
  <div class="panel-body"  >


    <table class="table table-bordered">
      <thead>
      <tr >
        <th width="16%">Número</th>
         <th width="16%">Nombre</th>
        <th width="15%">Fecha Ingreso</th>
        <th width="15%">Sistema</th>
        <th width="15%">Módulo</th>
        <th width="15%">Usuario KU</th>
        <th width="18%">Acciones</th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat='order in data2'>

        <td>{{order.IncidenteId}}</td>
        <td>{{order.Asunto}}</td>
        <td>{{order.FechaCreacion | date:'MM/dd/yyyy h:mma'}}</td>

        <td>{{order.NombreTipo}}</td>
        <td>{{order.SubNombreTipo}}</td>

        <td>{{order.usuarionombre}}</td>

        <td>

          <!-- estado = 10 or 99 puede editar && esKU -->

          <a class="btn btn-primary" ng-show="(order.Estado == 10) && EsConsultor()"  href="/#/incidente/tomarincidente/{{order.IncidenteId}}"><i class="glyphicon glyphicon-edit"></i></a>

          <!-- estado  != 10 or != 99 puede ver && esKU -->
             <!--  estado  == 10 && == 99 && !esKu -->

          <!--<a class="btn btn-danger" href="javascript:confirm('Esta seguro que desea eliminar?)"><i class="glyphicon glyphicon-remove"></i></a>-->
        </td>
      </tr>

      </tbody>
    </table>
  </div>
</section>

