<div class="row">
	<div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
		<h1 class="page-title txt-color-blueDark">
			
			<!-- PAGE HEADER -->
			<i class="fa-fw fa fa-pencil-square-o"></i> 
				Proyecto
			<span>>  
	Ver Ficha Proyecto
			</span>
		</h1>
	</div>
</div> 

<!-- Contenido --> 
 <form ng-submit="" class="form-horizontal"  role="form" name="formulario" novalidate>
<section id="widget-grid" class="">
	<div class="well">
	
	
		              


		
	   <div class="row">
	       
<h1 class="text-center">Revision de Documento N° {{proyecto.idProyecto}}</h1>
	       
	       
	   </div>
<br><br>
	<div class="row">
			<div class="col-md-6"></div>
			<div class="col-md-6">
				
					<ul class="demo-btns">
							
							<li>
								<a ng-click="window.print()" class="btn btn-labeled btn-default"> <span class="btn-label"><i class="glyphicon glyphicon-print"></i></span>Imprimir </a>
							</li>

							<li>
								<a ng-click="verHistorial()" class="btn btn-labeled btn-default"> <span class="btn-label"><i class="glyphicon glyphicon-tasks"></i></span>Historial </a>
							</li>
					</ul>
				
		
				
				
			</div>
			
		</div>
		<br><br>


<div class="row ">
		<div class="col-md-10 estilo-col-cabecera">
			Informacion General del Proyecto
		</div>
	
	</div>	   	   
<div class="row ">
		<div class="col-md-2 estilo-col-titulo">
		Fecha de Solicitud
		</div>
		<div class="col-md-8 estilo-col">
		{{proyecto.fechaCreacion | date:'dd-MM-yyyy'}}
		</div>
	</div>	 
<div class="row ">
		<div class="col-md-2 estilo-col-titulo">
	Nombre del Solicitante
		</div>
		<div class="col-md-8 estilo-col">
			{{proyecto.usuario.nombre}}
		</div>
	</div>
<div class="row ">
		<div class="col-md-2 estilo-col-titulo">
	Nombre del Proyecto
		</div>
		<div class="col-md-8 estilo-col">
		    	{{proyecto.nombre}}
		</div>
	</div>
<div class="row ">
		<div class="col-md-2 estilo-col-titulo"> 
	Empresa 
		</div>
		<div class="col-md-3 estilo-col">
			{{proyecto.empresa.nombre}}
		</div>
		<div class="col-md-2 estilo-col-titulo"> 
	Departamento 
		</div>
		<div class="col-md-3 estilo-col">
			{{proyecto.departamento.nombre}}
		</div>
	</div>
<div class="row">
		<div class="col-md-2 estilo-col-titulo"> 
	Etapa 
		</div>
		<div class="col-md-3 estilo-col">
			{{proyecto.etapa.nombre}}
		</div>
		<div class="col-md-2 estilo-col-titulo"> 
	Estado 
		</div>
		<div class="col-md-3 estilo-col">
		{{proyecto.estadoProyecto.nombre}}
		</div>
	</div>
<div class="row">
		<div class="col-md-2 estilo-col-titulo"> 
	Bussines Partner 
		</div>
		<div class="col-md-3 estilo-col">
		{{proyecto.usuarioBp.nombre}}
		</div>
		<div class="col-md-2 estilo-col-titulo"> 
	Jefe Proyecto 
		</div>
		<div class="col-md-3 estilo-col">
			{{proyecto.jefeProyecto.nombre}}
		</div>
	</div>
<br>
<br>

<div class="row ">
		<div class="col-md-10  estilo-col-titulo ">
		Resumen Ejecutivo
		</div>
	
</div>	   	   
<div class="row ">
	<div class="col-md-10 estilo-col">
	    	{{proyecto.resumenEjecutivo}}
	
		</div>
</div>	
<br></br>	
<div class="row ">
		<div class="col-md-10  estilo-col-cabecera">
	Especificación del Proyecto
		</div>
	
</div>	

<div class="row">
	<div class="col-md-2 estilo-col-titulo">
		Fecha Comienzo 	
		</div>
	<div class="col-md-3 estilo-col">
	    	{{proyecto.fechaEstimadaComienzo}}
		</div>
		<div class="col-md-2 estilo-col-titulo">
		Duracion  en Semanas
		</div>
	<div class="col-md-3 estilo-col">
	    	{{proyecto.duracionSemana}}
		</div>	
</div>	
<div class="row ">
	<div class="col-md-2 estilo-col-titulo">
	Tipo de Proyecto
		</div>
	<div class="col-md-3 estilo-col-input">
			<div  class="inline-group">
			    
								
										<label class="checkbox estilo-input checkbox-inline" ng-repeat="item in tipoProyecto" >
											<input type="checkbox" name="tipoProyecto" id="tipoProyecto" checklist-model="proyecto.tipoProyecto" checklist-value="item.id" disabled>
											<i></i>{{item.nombre}}</label>
	
				
			</div>
		</div>
		<div class="col-md-2 estilo-col-titulo">
	Complejidad de Proyecto
		</div>
	<div class="col-md-3 estilo-col">

	{{proyecto.complejidad.nombre}}

</div>
</div>
<div class="row" ng-show="proyecto.idEtapaProyecto==4">
	<div class="col-md-2 estilo-col-titulo">
		Fecha Fin Estimada 	
		</div>
	<div class="col-md-3 estilo-col">
	    	{{proyecto.fechaEstimadaCierre}}
		</div>
		<div class="col-md-2 estilo-col-titulo">
	% Avance 
		</div>
	<div class="col-md-3 estilo-col">
	    	{{proyecto.avance}}
		</div>	
</div>	
	<div class="row"  ng-show="proyecto.idEtapaProyecto==4">
	<div class="col-md-2 estilo-col-titulo">
	Salud del Proyecto
		</div>
	<div class="col-md-3 estilo-col">
	    	{{proyecto.saludProyecto.nombre}}
		</div>
		<div class="col-md-2 estilo-col-titulo">
		Comentarios Jefe Proyecto 
		</div>
	<div class="col-md-3 estilo-col">
	    	{{proyecto.comentarioAvance}}
		</div>	
</div>	
	<br></br>	
<div class="row ">
		<div class="col-md-10  estilo-col-cabecera">
Equipo de Proyecto
		</div>
	
</div>
<div class="row" ng-show ="arrEquipo.length>0">
		<div class="col-md-4  estilo-col-titulo">
Nombre 
		</div>

		<div class="col-md-2  estilo-col-titulo">
Rol 
		</div>
		<div class="col-md-2  estilo-col-titulo">
Email  
		</div>
				<div class="col-md-2  estilo-col-titulo">
Estado  
		</div>

</div>	
<div class="row " ng-repeat="item in arrEquipo">
		<div class="col-md-4  estilo-col">
{{item.nombre}}
		</div>

		<div class="col-md-2  estilo-col">
{{item.cargo.nombre}} 
		</div>
		<div class="col-md-2  estilo-col">
{{item.email}}  
		</div>
				<div class="col-md-2  estilo-col">
{{estadoAprobacion(item.estadoAutorizacion)}}  
		</div>
</div>	

<br></br>	
<div class="row ">
		<div class="col-md-10  estilo-col-cabecera">
Evaluacion Economica del Proyecto
		</div>
	
</div>	

<div class="row">
	<div class="col-md-2 estilo-col-titulo">
	Costos One -off
		</div>
	<div class="col-md-3 estilo-col">
	    {{proyecto.costoOneOff}}
	
	</div>
		<div class="col-md-2 estilo-col-titulo">
		Costos On Going
		</div>
	<div class="col-md-3 estilo-col">
	     {{proyecto.costoOnGoing}}
		
		</div>	
</div>	
<div class="row ">
	<div class="col-md-2 estilo-col-titulo">
	Beneficios
		</div>
	<div class="col-md-8 estilo-col">
	     {{proyecto.beneficios}}
	
		</div>
	
</div>		
<div class="row ">
	<div class="col-md-2 estilo-col-titulo">
	Beneficios Intangibles
		</div>
	<div class="col-md-8 estilo-col">
	    {{proyecto.beneficioIntangible}}
	</div> 
	
</div>		
	<br></br>	
<div class="row " ng-show="proyecto.idEtapaProyecto>2">
		<div class="col-md-10  estilo-col-cabecera">
Entregables del Proyecto
		</div>
	
</div>

<div class="row " ng-show="proyecto.idEtapaProyecto>2">
		<div class="col-md-3  estilo-col-titulo">
Nombre 
		</div>

		<div class="col-md-2  estilo-col-titulo">
Semana Entrega 
		</div>
			<div class="col-md-2  estilo-col-titulo">
fecha Estimada Entrega 
		</div>
		<div class="col-md-3  estilo-col-titulo">
Estado  
		</div>
	
</div>	
<div class="row " ng-show="proyecto.idEtapaProyecto>2" ng-repeat="item in arrEntregable">
		<div class="col-md-3  estilo-col">
{{item.tipoEntregable.nombre}}
		</div>

		<div class="col-md-2 estilo-col">
{{item.semanaEntrega}} 
		</div>
			<div class="col-md-2  estilo-col">
{{item.fechaEstimada | date:'dd-MM-yyyy'}} 
		</div>
		<div class="col-md-3  estilo-col">
<span ng-show="item.estado==0">Pendiente</span><span ng-show="item.estado==1">Entregado</span>  
		</div>
	
</div>	



	<br></br>	
<div class="row ">
		<div class="col-md-10  estilo-col-cabecera">
Adjuntos
		</div>
	
</div>

<div class="row">
		<div class="col-md-4  estilo-col-titulo">
Descripcion 
		</div>
<div class="col-md-2  estilo-col-titulo">
Tipo Adjunto 
</div>
		<div class="col-md-2  estilo-col-titulo">
Fecha Creacion 
		</div>
		

	
</div>
<div class="row" ng-repeat="item in arrAdjuntos">
		<div class="col-md-4  estilo-col">
<a href="api/proyectoAdjunto/{{item.urlArchivo}}" target="_blank"> {{item.descripcion}}</a> 
		</div>

		<div class="col-md-2  estilo-col">
{{item.tipoAdjunto.nombre}} 
		</div>
			<div class="col-md-2  estilo-col">
{{item.fechaCreacion | date:'dd-MM-yyyy'}} 
		</div>
		




	
</div>		

	<br></br>	
<div class="row ">
		<div class="col-md-7  estilo-col-cabecera">
Versiones
		</div>
	
</div>
<div class="row ">
		<div class="col-md-3  estilo-col-titulo">
Fecha Creacion 
		</div>

	<div class="col-md-4  estilo-col-titulo">
Etapa 
		</div>	
	
</div>	
<div class="row" ng-repeat="item in proyecto.version">
		<div class="col-md-3  estilo-col">
{{item.fechaCreacion | date:'dd-MM-yyyy'}} 
		</div>

	
	<div class="col-md-4  estilo-col">
<a  ng-click="verVersion(item.idVersion)">{{item.etapaProyecto.nombre}} </a>
		</div>
	
</div>			
	
	
</div>


	  
</section>
</form>
<style>
.help-block {
display: block;
margin-top: 5px;
margin-bottom: 10px;
color: #E81717;
}

.fileinput-button 
{
	position: relative;
	overflow: hidden;
}

.fileinput-button input 
{
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	opacity: 0;
	filter: alpha(opacity=0);
	transform: translate(-300px, 0) scale(4);
	font-size: 23px;
	direction: ltr;
	cursor: pointer;
}


	.estilo-col-titulo {
		padding-top: 10px;
		padding-bottom: 10px;
		background-color: rgba(61, 106, 124, 0.15);
		border: 1px solid rgba(61, 106, 124, 0.2);
		font-size: 85%!important;
		font-weight: bold;
	}


	.estilo-col-cabecera{
		padding-top: 15px;
		padding-bottom: 15px;
		border: 1px solid rgba(61, 106, 124, 0.2);
		font-size:180%!important;
	}


	.estilo-col{
		padding-top: 10px;
		padding-bottom:10px;
		border: 1px solid rgba(61, 106, 124, 0.2);
		font-size: 85%!important;
		
	}

.estilo-col-input{
		padding-top: 2px;
		padding-bottom: 2px;
		border: 1px solid rgba(61, 106, 124, 0.2);
		font-size: 90%!important;
		
	}
.estilo-input{
	
		font-size: 85%!important;
	}
	
	


.modal-body2 {
    max-height: 1600px;
     max-width: 1000px;
     width:800px;
}	

	
</style>