
<div class="row">
	<div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
		<h1 class="page-title txt-color-blueDark">

			<!-- PAGE HEADER -->
			<i class="fa-fw fa fa-pencil-square-o"></i>
				Administración
			<span>>
			Editar Código Termino
			</span>
		</h1>
	</div>
</div>
<section class="panel panel-default">
    <div class="panel-heading"><strong><span class="glyphicon glyphicon-asterisk"></span> Editar Código Termino</strong></div>
    <div class="panel-body">

        <div ng-show="esgrabado" ng-model="esgrabado" id="divid" class="alert alert-success fade in">
            <button class="close" ng-click="CerrarGrabado()"  >
                ×
            </button>
            <i class="fa-fw fa fa-check"></i>
            <strong>Se ha grabado con éxito</strong>
        </div>

        <form enctype="multipart/form-data" class="form-horizontal ng-pristine ng-valid" name="formeditar" id="formeditar">
            <input type="hidden" name="codigo.CodigoTerminoId" ng-model="codigo.CodigoTerminoId" >
            <div class="form-group" ng-show="codigo.CodigoTerminoId != null">
                <label for="" class="col-sm-2">Código</label>
                <div class="col-sm-10">
                    <p class="form-control-static">{{id}}</p>
                </div>
            </div>
          <div class="form-group" ng-class="{ 'has-error' :!paginaValida && formeditar.Nombre.$error.required}" >
            <label for="" class="col-sm-2">Nombre</label>
            <div class="col-sm-10">
              <input type="text" class="form-control"  ng-model="codigo.Nombre"  name="Nombre"  required  placeholder="Nombre"  >
              <p ng-show="!paginaValida && formeditar.Nombre.$error.required" class="help-block">Debe ingresar el nombre del código de termino</p>


            </div>

          </div>
            <div class="form-group" ng-show="codigo.CodigoTerminoId != null">
                <label for="" class="col-sm-2">Fecha de Creación</label>
                <div class="col-sm-10">
                    <p class="form-control-static">{{codigo.FechaCreacion | date:'MM/dd/yyyy h:mma'}}</p>
                </div>
            </div>

            <div class="form-group">
                <label for="" class="col-sm-2">Es Activo?</label>
                <div class="col-sm-10">
                 <input type="checkbox"    ng-model="codigo.EsActivo" ng-checked="codigo.EsActivo == 1 || codigo.EsActivo " />
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-10 col-sm-offset-2">
                    <button type="button" class="btn btn-w-md btn-gap-v btn-default" onclick="window.history.back()">Volver</button>

                    <button type="button" class="btn btn-w-md btn-gap-v btn-success"  ng-click="GrabarDato()" >Enviar</button>
                </div>
            </div>
        </form>
    </div>
</section>
